body {
    font-family: Arial;
    text-align: center;
    background-color: #e8f5e9;
}

h1 {
    color: green;
    font-size: 32px;
}

select {
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    display: block;
    margin: 20px auto;
}

button:hover {
    background-color: darkgreen;
}

#result {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    display: inline-block;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    font-size: 18px;
    max-width: 300px;
}